body {
  /* padding: 10px; */

  font: 14px , "Helvetica", Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  text-align: center;
  padding-top: 5em;
}

p{
  text-align: center;
}

.register{
  padding: 5rem 30rem;
}
