html {
  scroll-behavior: smooth;
}

body {
  font: 14px , "Helvetica", Arial, sans-serif;
  font-weight: lighter;
}

a {
  color: #88b1ea;
}

a:hover{
  text-decoration: none;
  color: #ffffff;
}

.sign-up {
  margin-right: -30em;
}

.parallax {
    background-image: url("../images/background.png");
    justify-content: center;
    background-position: bottom;
    max-height: 38em;
    /* background-attachment: fixed; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
  padding: 15em 0;
  color: #6b97e5;
}

#suggestions {
  margin-bottom: 5em;
}

.title {
  padding-top: 1em;
  margin-bottom: 1em;
  color: #6b97e5;
  font-size: 2em;
}

.card {
  width: 50em!important;
}

.card-title {
  font-weight: normal!important;
}

.index {
  justify-content: center;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
}

#top {
  position: fixed;
  bottom: 80px;
  right: 42px;
  display: inline-block;
}

#back {
  position: fixed;
  bottom: 80px;
  left: 42px;
  display: inline-block;
}

#bottom {
  position: fixed;
  bottom: 30px;
  right: 42px;
  display: inline-block;
}

.login {
  color: #ffffff;
  background-color: #6b97e5;
  background-size: cover;
  height: 45em;
  background-position: center;
  font-weight: lighter;
}

.login legend {
  font-size: 40px;
  font-weight: lighter;
}

.login-input .form-control {
  color: white!important;
}

input:focus,
.login-input .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: white!important;
  outline: none;
}

.new-suggest, .new-suggest:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: transparent;
  color: white!important;
  outline: none;
}

.login-submit-button {
  padding-top: 2em;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
}

.register {
  padding: 5rem 30rem;
}

.card-body a:hover{
  color: #000000;
}

.vote {
  max-height: 20px;
}

#agree {
  padding-left: 10px;
  padding-top: 1em;
}

.btn-outline-light:hover {
  color: #6b97e5!important;
}

.upvote-button {
  height: 35px;
  width: 35px;
  background-color: white!important;
  border: 2px solid #6b97e5!important;
  border-radius: 50%!important;
  margin-left: 15px;
}
