body {
  /* padding: 10px; */

  font: 14px , "Helvetica", Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header{
  padding: 17em 0;
}

h1 {
  text-align: center;

}

p{
  text-align: center;
}

.register{
  padding: 5rem 30rem;
}
